@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
/* Limpiar los estilos del navegador */
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}

div#wrapper{
	width: 1024px;
	height: auto;
	margin-left: auto;
	margin-right: auto;	
}
nav{
	width: 1024px;
	height: 70px;
	background-color: black;
}
header{
	width: 1024px;
	height: 600px;
	background-image: url("exportacion/images/header.jpg");
}
section#relojes{
	width: 1024px;
	height: 457px;
	padding-top: 20px;
}
section#nosotros{
	width: 1024px;
	height: 748px;
}
section#catalogo{
	width: 1024px;
	height: 788px;
}
section#contacto{
	width: 1024px;
	height: 788px;
	background-color: #07E1DE;
}
footer{
	width: 1024px;
	height: 50px;
	background-color: #461C31;
}
nav img{
	float: left;
	margin-top: 15px;
	margin-left: 15px;	
}
nav ul{
	float: right;
	margin-top: 20px;
	margin-right: 15px;	
}
nav ul li{
	float: left;
	margin-left: 30px;
}
nav a{
	font-size: 18px;
	color: white;
	text-decoration: none;
}
nav a:hover{
	color: #FC5F02;
}
section#relojes h2{
	font-size: 34px;
	color: white;
	background-color: #30a2a6;
	width: 324px;
	height: 105px;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}
div.boxRelojes{
	width: 237px;
	height: 273px;
	float: left;
	margin-top: 40px;
	margin-left: 9px;
	margin-right: 9px;
}
div.boxRelojes img{
	width: 100px;
	height: 100px;
	margin-left: 65px;
	margin-top: 10px;
	margin-bottom: 20px;	
}
div.boxRelojes p{
	text-align: center
}
h2.titulos{
	font-size: 34px;
	color: white;
	background-color: #30A2A6;
	width: 324px;
	height: 61px;
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
}
div#boxNosotros{
	width: 846px;
	height: 551px;
	background-color: black;
	margin-top: 52px;
	margin-left: auto;
	margin-right: auto;
}
div.cajitas{
	width: 423px;
	height: 276px;
	background-color: skyblue;
	float: left
}
div#txtArtesanales{
	background-color: #B14E80;
}
div#imgcover-1{
	background-image: url("exportacion/images/cover-1.jpg");
}
div#imgcover-2{
	background-image: url("exportacion/images/cover-2.jpg");
}
div#txtDiseno{
	background-color: #30A2A6;
}
div.cajitas h3{
	font-size: 20px;
	color: white;
	margin-left: 39px;
	margin-top: 63px;
	margin-right: 39px;
	margin-bottom: 24px;
	line-height: 30px;
}
div.cajitas p{
	font-size: 14px;
	color: #CCCCCC;
	margin-left: 39px;
	margin-right: 39px;
	line-height: 24px;
}
div.boxCatalogo{
	width: 324px;
	height: 587px;
	background-color: #461C31;
	float: left;
	margin-top: 66px;
	margin-left: 8px;
	margin-right: 8px;
	text-align: center
}
div.boxCatalogo h4{
	font-size: 38px;
	color: #B14E80;
	margin-top: 15px;
	margin-bottom: 20px;
}	
div.boxCatalogo h5{
	font-size: 21px;
	color: #B14E80;
	margin-top: 20px;
	margin-bottom: 52px;
}
div.boxCatalogo p{
	font-size: 14px;
	color: #B14E80;
	margin-bottom: 17px;
}
div.boxCatalogo a{
	width: 112px;
	height: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #B14E80;
	border-radius: 22px;
	padding-top: 7px;
	text-decoration: none;
	margin-top: 26px;
	margin-bottom: 48px;
	color: #B14E80;
	font-size: 16px;
}
	